
.nav-items{
    list-style: none;
    li{
        display: inline;
        padding:1rem;
    }
}
.linkUnderline{
    text-decoration: none;   
}


// .logo{
//     font-size: 35px;
//     display: flex;
//     align-items: stretch;
// }
// .v-text-logo{
//     font-size: 0;
//     position: relative;
// }
// .v-text-logo::before, .v-text-logo::after {
//     content: '';
//     height: 25px;
//     width: 3px;
//     display: table;
//     background-color: #333;
//     transform-origin: bottom;
//     position: absolute;
//     top: 50%;
//     left:60%;
//     transform: translate(-50%,-50%);
//     border-bottom-left-radius: 15px;
//     border-bottom-right-radius: 15px;
// }
// .v-text-logo::before {
//     transform: translate(-50%,-50%) rotate(-25deg);
//    // background-color: rgb(232, 97, 97);
//    background-color: blue;
// }
// .v-text-logo::after {
//     transform: translate(-50%,-50%) rotate(25deg);
// }
// .other-text-logo{
//     padding-left: 13px;
//     font-weight: 100;
// }
.bagImg{
    cursor: pointer;
}
.align-right{
    float: right;
}
// .menuicon{
//     display:none;
// }

@media screen and (min-width:320px) and (max-width:767px){
    .align-right{
        width:fit-content;
        float: right !important;
    }
    .nav-link{
        padding: 0%;
        margin: 0%;
    }
    .logo{
        margin-left: 6.5rem;
    }
    .linkUnderline{
        display:none;
      }
      .nav-items{
          display: contents;
      }
      .nav-link{
        display:contents;
      }
    .menuicon{
       margin-top: 0.7rem;
       height: 30px;
       width: 20px;
    }
    .header{
        height:3rem;
        text-align: right;
    }
    li.nav-link{
        padding:0%;
    }
}



@media screen and (min-width:1024px){
    .menuicon{
        display: none;
    }
}


@media screen and (min-width:768px) and ( max-width:1023px){
    .menuicon{
        display: none;
    }
    .linkUnderline{
        display:none;
    }
    .nav-items{
        list-style: none;
        li{
            display: inline;
            padding:0.6rem;
        }
    }


}