@import '../../SASS/button';
@import '../../SASS/main.css';
.sideImg{
    height:12vh;
    width:5vw;
    margin: 1px;
}
// .ImgSidebar{
//     display: block;
// }
.mainImg{
    height:70vh;
    width:28vw;
   
}
.prodDetails{
    text-align: left;
    padding:0 0.5rem 0 0.5rem;
}
.ReadMore{
    text-decoration: underline;
}
.sizeOptions{
    border: 1px solid grey;
    padding:1px 10px 1px 10px;
    margin:0 4px 0 4px;
    border-radius: 4px;
}
.QuantityCircle{
    border: 1px solid grey;
border-radius: 50%; 
padding: 0 3px 0 3px;
}
.AddToCartBtn{
background-color: #1F39FF;
@include button;
}

.productDetailContainer{
    margin:0 5vw 0 5vw;
}


@media screen and (max-width:768px) {
    .sideImg{
        display:none;
    }
    .mainImg{
        width:85vw;
        height:70vh;
    }
}