@import '../../SASS/main.css';
@import '../../SASS/button';
@import '../SASS/var';


// @media screen and (min-width:1024px) {

.leftalign{
    text-align: left;
}
.rightalign{
    float: right;
}
.carousalImg {
    height: 28vh;
    width: 13vw;
    border: 1px solid grey;
    padding: 0.5rem;
  }
  
  .carousalCard {
    width: 27vw;
    height: 42vh;
    padding: 0%;
  }

.discrightalign{
    float: right;
}
.Cart{
    text-align: left;
    margin-left: 5rem;
}
.imageprops{
    height:50%;
    width:60%;
}
.discount{
    margin: 2rem;
}
.border{
    border: 1px solid gray;
    margin: 0%;
    padding: 1rem;
}
.quanBar{
    margin-top:4rem;
}
.quantity-minus {
    border: 1px solid grey;
    border-radius: 50%;
    margin: 2px;
}
.quantity-plus{
    border: 1px solid grey;
    border-radius: 50%;
    margin: 2px;
}
.paypal{
    margin-top: 0.5rem;
    margin-left: 2rem;
}
.quantity{
    width: 4rem;
    border-radius: 5px;
}
.cartProdDetails{
    margin:0%;
}
.checkoutBtn{
    @include button;
    background-color: $btn-bgcolor;
}
.editremove{
    padding-left: 1rem;
}

// }



@media screen and (min-width:320px) and (max-width:767px) {
    .editremove{
        display:none;
    }
    .imageprops{
        height: 20vh;
        width: 35vw;
    }   
    .Cart{
        margin:0%;
    }
    .quanBar{
        margin: -17% 0% 0% 40%    }
    .discount{
        margin:4%;
         padding: 2%;
    }
    .border{
        padding:1rem 1rem 2rem 1rem;
        width: 100vw;
    }
    .discrightalign {
        display: block;
        float: none;
      }
    
    .rightalign{
        float: right;
    }
    .pricing{
        text-align: left;
    }
    .totalSummary{
       padding:2rem;
    }
    .checkoutBtn{
        @include button;
        background-color: $btn-bgcolor;
    }
    .quantity{
        width: 4rem;
        border-radius: 5px;
    }
    .paypal{
        margin-left: 8vw;
    }
}


@media screen and (min-width:768px) and (max-width:1023px) {
   .imageprops{
    height:10vh;
   }
   .border{
    border: 1px solid gray;
    margin: 0%;
    padding: 1rem;
}
.discount{
    margin:0%;
}
.rightalign{
    float: right;
}
.pricing{
    text-align: left;
}
.totalSummary{
   padding:2rem;
}
.checkoutBtn{
    @include button;
    background-color: $btn-bgcolor;
    margin-left: 30vw;
}
.paypal{
    margin-left: 30vw;
}
.quantity{
    width: 4rem;
    border-radius: 5px;
}
.Cart{
    margin:1rem;
}
}